<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.7.2" tempDirectory="C:\Inetpub\vhosts\batterypeyk.com\tmp" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
</configuration>
<!--ProjectGuid: {54c421b9-2e6a-4299-9771-24ffc4d9181a}-->